//
// Sections
//

.main-content {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 2rem;
}

.img-profile {
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    border: 3px solid #e9ecef;
    flex-shrink: 0;
}

section.resume-section {
    padding-top: 4rem;
    padding-bottom: 4rem;

    .resume-section-content {
        width: 100%;
    }
}

@include media-breakpoint-up(lg) {
    section.resume-section {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}
